.button {
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.button-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}