@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.card{
  margin: 10px;
  padding: 0 px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  
}

.img {
  max-height: 50px;
  max-width: 100%;

}
.theme-text {
  color: #000;
}

.card {
  z-index: 1;
  overflow: hidden;
  
}

