.button {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    text-decoration-color: black;
}

.button-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.block{
    margin-top: 100px;
}

.btn-outline-secondary {
    background-color: #ff914d;
}

#forms {
    /* fallback for old browsers */
    background: #ff914d;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(255, 145, 77, 1), rgba(87, 0, 112, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(255, 145, 77, 1), rgba(87, 0, 112, 1))
  }